<br>
    <center>
        <h3>Order number <%=@order.id%></h3>
    </center>
<br>
<li><%=@order.address%>
<li><%=@order.item%></li>
<li><%=@order.item_price%></li>
<li><%=@order.quantity%></li>
<li><%=@order.total%></li>


</form>
    <a href='/orders/<%= @order.id %>/edit' class="button">Edit Items</a> 
</form>

<form action="/orders/<%= @order.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Order">
   
