<br>
    <center>
        <h3>Order number <%=@order.id%></h3>
    </center>
<br>
<li><b>Address:</b> <%=@order.address%>
<li><b>Item:</b> <%=@order.item%></li>
<li><b>Price:</b> <%=@order.item_price%></li>
<li><b>Quantity:</b> <%=@order.quantity%></li>
<li><b>Total:</b> <%=@order.total%></li>


</form>
    <a href='/orders/<%= @order.id %>/edit' class="button">Edit Items</a> 
</form>

<form action="/orders/<%= @order.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Order">
<form>
   
